*.pyc
workdir/*
outputs/*
git_ignore/*
logs/*
.*.py~
.*.yml~
.*.sh~
# vim, mac os
*.sw*
.DS_Store
.*.un~
.idea

# python setup.py build/install artifacts
build
dist
pywps_demo.egg-info/
pywps_flask.egg-info/

# docs build artifacts
_build/
.idea/
.ipynb_checkpoints/

# binary data files
*.nc4
*.bz2
*.pdf
*.nc
