*.pyc
workdir/*
outputs/*
git_ignore/*
logs/*
.*.py~
.*.yml~
.*.sh~
# vim, mac os
*.sw*
.DS_Store
.*.un~
.idea

# python setup.py build/install artifacts
build
dist
pywps_demo.egg-info/
pywps_flask.egg-info/

# docs build artifacts
_build/
.idea/
.ipynb_checkpoints/

# binary data files
*.nc4
*.bz2
*.pdf
*.nc
/volumes/jupyter/notebooks/git_ignore/
vscode.code-workspace
.vscode/settings.json
volumes/pywps/prod/html/wps/wpsoutputs/pywps-4ab4d9dc-a4b4-11ea-aed0-0242ac18000b.xml
